* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* how we can center a div  
  Way 1
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 Way 2 */
body {
    display: grid;
    place-items: center;
    align-items: center;
    height: 100vh;
background: url('./images/bak1.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;}

.text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.pic>img {
    width: 60%;
    align-items: center;
    left: 50%;
    height: 300px;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 5%;
}

.button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5%;

}

.btn {
    width: 100%;
}

.main {

    border-radius: 10px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    height: 600px;
    width: 500px;
    background-color: antiquewhite;
}

.button-63 {

    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.button-63:active,
.button-63:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-63 {
        font-size: 24px;
        min-width: 196px;
    }
}