.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    height: 20%;
    margin-bottom: 10px;
}
.card-img-top{
    width: 100%;
    height: 200px;
}